.commands-item {
    line-height:1.7rem;
    background-color:white;
    margin-bottom:5px;    
}

mat-card-title.cdesc{
    font-family:Courier New;
    font-size:1rem;
    margin-right:-20px;
    color:var(--vdark);
    padding:0px 10px;
    background:var(--vlight);
    border: 0.2px solid var(--awhite);
}

.cname{
    color:var(--mdark);
    font-weight:300
}

.fm-avatar img{
    width:90%;
    vertical-align:middle
}
.fm-avatar{
    margin:0;
    height:100%;
    border-radius:0px;
    line-height:0.8rem;
}

.fm-name{
    font-size:0.7rem;
    text-align:top;
    marign-top:1px;
    color:var(--vdark);
}

.ctitles{
    margin-left:30px;
}

.out-btn{
    margin: 8px 8px 8px 0;
    padding:12px 20px;
    border-style: solid;
    background:white;
    color:var(--mdark);
    border-color: var(--bold);
    border-radius:20px;
    self-align:
}
