.commands-item {
    line-height:2rem;
    background-color:white;
}

.cdesc{
    font-family:Courier New;
    color:var(--bmedium);
    font-weight:600
}

.cname{
    color:var(--medium-dark);
    font-weight:300
}

.fm-avatar img{
    width:90%;
    vertical-align:middle
}
.fm-avatar{
    margin:0;
    height:100%;
    border-radius:0px;
    line-height:1rem;
}

.fm-name{
    font-size:0.8rem;
    text-align:top
}
 
mat-card-title{
    font-size:1.2rem;
    margin-top:5px
}

