.commands-item {
    line-height:2rem;
    padding-left:10px;
    width:90%;
    background-color:inherit;
}

.cdesc{
    font-family:Courier New;
    font-weight:600
}

.cname{
    color:var(--bold);
    font-weight:300
}

.fm-avatar img{
    width:90%
}