<mat-toolbar>
    <mat-toolbar-row class="toolbar">
        <div class="logo-box justify-content-start align-items-center">
            <a href="/">
                <img src="assets/images/logo.png" class="logo">
                <span class="toolbar-title">Edu</span>
            </a>
        </div>
        <nav>
            <div>
                <ul class="no-dots vertical-list">
                    <li><mat-icon aria-hidden="false" fontIcon="home"></mat-icon></li>
                    <li><mat-icon aria-hidden="false" fontIcon="settings"></mat-icon></li>
                </ul>
            </div>
        </nav>
    </mat-toolbar-row>

</mat-toolbar>
<mat-drawer-container>
    <mat-drawer opened class="example-drawer " mode="side">
        <ul class="no-dots megamenu">
            <li><a href="/frameworks">Frameworks</a></li>
            <li><a href="/commands">Commands</a></li>
            <li>Tutorials</li>
            <li>Sources</li>
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <div class="grid-container">
            <div class="grid-item">
                <mat-card class="commands">
                    <mat-card-title>Commands</mat-card-title>

                    <router-outlet></router-outlet>
                </mat-card>
            </div>
            <div class="grid-item">
                <mat-card>
                    <img src="assets/images/ai-education.webp">
                </mat-card>
            </div>

        </div>

    </mat-drawer-content>
</mat-drawer-container>