.toolbar-options li:nth-child(2){
  margin-left:20px;
}

mat-icon{
  padding-top:5px
}

mat-icon.mat-icon:hover{
  color:var(--bright);
}

.megamenu{
    font-size:1rem;
}

.megamenu li {
  margin-top:15px;
  margin-left:25px
}

mat-drawer-container{
  height:100%;
}

mat-drawer-content{
  color:var(--bdark);
  padding:30px;
}


mat-drawer-container .example-drawer{
  color:var(--bold);
  background-color:white; 
  padding:10px;
  width:15%;
  box-shadow: 0px 0px 20px var(--mdark)
}

.grid-container-footer{
  display: grid;
  grid-template-columns: 1fr 6fr;
  width:20%;
}

.sticky-footer{
  
}
