<mat-toolbar>
    <mat-toolbar-row class="toolbar">
        <div class="logo-box justify-content-start">
            <a href="/">
                <img src="assets/images/logo.png" class="logo">
                <span class="tlb-title">Uedu</span>
            </a>
        </div>
        <ul class="no-dots vertical-list toolbar-options">
            <li><mat-icon aria-hidden="false" fontIcon="home"></mat-icon></li>
            <li><mat-icon aria-hidden="false" fontIcon="settings"></mat-icon></li>
        </ul>
    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>
    <mat-drawer opened class="example-drawer" mode="side">
        <ul class="no-dots megamenu">
            <li><a routerLink="/frameworks">Frameworks</a></li>
            <li><a routerLink="/commands">Commands</a></li>
            <li><a routerLink="/tutorials">Tutorials</a></li>
            <li><a routerLink="/sources">Sources</a></li>
        </ul>
    </mat-drawer>
    <mat-drawer-content class="bcg">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container> 