<div class="grid-container justify-content-center">
    <div class="grid-item">
        <mat-card class="commands">
            <mat-card-title>Commands</mat-card-title>
            <mat-card-content>          
                <app-commands-list></app-commands-list>
            </mat-card-content>
            <mat-card-actions>
                <mat-icon class="upload" aria-hidden="false" fontIcon="upload" matTooltip="upload"></mat-icon>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="grid-item">
        <a routerLink="/ai">
            <mat-card class="card-ai">
                <img src="assets/images/ai-education.webp">
            </mat-card>
        </a>
    </div>
</div>