.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:20px;
    align-content:center;
 }

mat-card {
    background:white;
    color:var(--vdark)
}

mat-card.commands{
    min-width:450px;
    padding:15px;
}

.card-ai{
    background-color:inherit;
    border-radius:15px;
}

.card-ai img{
    object-fit:cover;
    width:100%;
    border-radius:10px
}

.commands app-commands-list{
    padding-bottom:0
}

mat-card-actions{
    padding:0px 8px 0px 10px
}

mat-card-actions mat-icon:hover{
    color:var(--bright)
}