/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

:root{
    --vdark: #003135;
    --vlight: #ebf2f2;
    --mdark: #024950;
    --accent: #964734;
    --bright: #fa3d0f;
    --bold: #0FA4AF;
    --light: #AFDDE5;
    --awhite: #dde4e4;
}

html, body{
    height: 100%; 
}

body{
    font-family:Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}

.bcg{
    background-image: url("https://i.pinimg.com/736x/a9/14/05/a91405df5998c36ce59534faa7f09980.jpg");
    background-size:cover;
    height:100%;
}

@media screen and (max-width:1920px) {
    body{
        font-size:18px
    }

    .small{
        font-size:14px;
    }

    .large{
        font-size:24px
    }
}

@media screen and (max-width:800px) {
    body{
        font-size:16x
    }

    .small {
        font-size:12px;
    }

    .large{
        font-size:20px
    }
}

.align-items-center {
    align-items: center !important;
  }

  .align-items-end {
    align-items: end !important;
  }
  
.justify-content-start {
      justify-content: flex-start !important;
  }

.fixed{
    position:fixed;
}

.no-dots{
    list-style:none;
    padding:0;
}



.toolbar{
    background:white;
    color:var(--mdark);
}

.logo-box{
  text-align: left;
  width: 15%;
}

.logo{
    height:40px;
    width:40px;
    padding-right:10px;
    vertical-align:middle;
}


.tlb-title{
    color:black;
    font-size:  1.5rem;
    margin-top:10px;
    vertical-align:middle;
}

a{
    text-decoration:none;
    color:var(--bold)
}

a:hover{
    color:var(--bright)
}

a:visited{
    color:var(--accent);
}


ul.vertical-list li{
    display:inline-block;
}

footer mat-icon{
    color:white
}

footer{
    padding:20px;
    background:var(--mdark);
    color:white
}
